body {
    background-color: #eeeeee;
}

img {
    height: 150px;
}

hr {
    background-color: white;
    border-style: none;
    border-color: grey;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}
